@model IEnumerable<E_Medicine_Store.Models.SellsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <h3 style="text-align:left">@Html.ActionLink("Create New", "Create")</h3>
                <h2 style="text-align:center">Details</h2>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MedId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StaffId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CustomerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.MedId)
                                </td>
                                <td>
                                    @Html.DisplayNameFor(model => model.Price)
                                </td>
                                <td>
                                    @Html.DisplayNameFor(model => model.StaffId)
                                </td>
                                <td>
                                    @Html.DisplayNameFor(model => model.CustomerName)
                                </td>
                                <td>
                                    @Html.DisplayNameFor(model => model.Date)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.SellId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.SellId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.SellId })
                                </td>
                            </tr>
                        }
                    }



                </tbody>
            </table>

        </div>
    </div>
</body>
