<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="~/Theme/assets/images/logo/favicon.png" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/Theme/assets/css/animate-3.7.0.css">
    <link rel="stylesheet" href="~/Theme/assets/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/owl-carousel.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/linearicons.css">
    <link rel="stylesheet" href="~/Theme/assets/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="Index.css"> 
    <style>
        #main
        {
            width:100%; 
            height:200px;
            background-color:aqua;
            background-image: url('@Url.Content("~/Image/Final.png")');
            background-repeat:no-repeat;
            background-position:center;
            position:relative;
        }
    </style>
</head>
<body>
   
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->
    <!-- Header Area Starts -->
    <header class="header-area">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 d-md-flex">
                        <h6 class="mr-3"><span class="mr-2"><i class="fa fa-mobile"></i></span> call us now! +1 305 708 2563</h6>
                        <h6 class="mr-3"><span class="mr-2"><i class="fa fa-envelope-o"></i></span> medical@example.com</h6>
                        <h6><span class="mr-2"><i class="fa fa-map-marker"></i></span> Find our Location</h6>
                    </div>
                    <div class="col-lg-3">
                        <div class="social-links">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="header" id="home">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                    <div id="logo">
                        <a href="index.html"><img src="~/Theme/assets/images/logo/logo.png" alt="" title="" /></a>
                    </div>
                    <nav id="nav-menu-container">
                    
                        <ul class="nav-menu">
                            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand"})
                            @Html.ActionLink("Stock", "Index", "Stock", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Salesman", "Index", "Salesman", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Medicine", "Index", "Medicine", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Staffs", "Index", "Staffs", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Attendences", "Index", "Attendences", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Salaries", "Index", "Salaries", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Categories", "Index", "Categories", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Sells", "Index", "Sells", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Comapny", "Index", "Company", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("SalaryStauts", "Index", "SalaryStatus", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("StaffReport", "Index", "StaffReport", new { area = "" }, new { @class = "navbar-brand" })


                            <li><a href="/Home/Registeration" id="registerLink">Register</a></li>
                            <li><a href="/Home/Login" id="loginLink">Log in</a></li> 
                           
                        </ul>
                    
                    </nav><!-- #nav-menu-container -->
                </div>
            </div>
        </div>
    </header>
    <section id ="main">
        
         
    </section> 
    <div class="container body-content">
       @RenderBody()
    </div>
    <div class="fluid-container">
        
        <hr />
        <footer>
            <footer class="footer-area section-padding">
                <div class="footer-widget">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-2 col-lg-3">
                                <div class="single-widget-home mb-5 mb-lg-0">
                                    <h3 class="mb-4">top products</h3>
                                    <ul>
                                        <li class="mb-2"><a href="#">managed website</a></li>
                                        <li class="mb-2"><a href="#">managed reputation</a></li>
                                        <li class="mb-2"><a href="#">power tools</a></li>
                                        <li><a href="#">marketing service</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-5 offset-xl-1 col-lg-6">
                                <div class="single-widget-home mb-5 mb-lg-0">
                                    <h3 class="mb-4">newsletter</h3>
                                    <p class="mb-4">You can trust us. we only send promo offers, not a single.</p>
                                    <form action="#">
                                        <input type="email" placeholder="Your email here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email here'" required>
                                        <button type="submit" class="template-btn">subscribe now</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-xl-3 offset-xl-1 col-lg-3">
                                <div class="single-widge-home">
                                    <h3 class="mb-4">instagram feed</h3>
                                    <div class="feed">
                                        <img src="~/Theme/assets/images/feed1.jpg" alt="feed">
                                        <img src="~/Theme/assets/images/feed2.jpg" alt="feed">
                                        <img src="~/Theme/assets/images/feed3.jpg" alt="feed">
                                        <img src="~/Theme/assets/images/feed4.jpg" alt="feed">
                                        <img src="~/Theme/assets/images/feed5.jpg" alt="feed">
                                        <img src="~/Theme/assets/images/feed6.jpg" alt="feed">
                                        <img src="~/Theme/assets/images/feed7.jpg" alt="feed">
                                        <img src="~/Theme/assets/images/feed8.jpg" alt="feed">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-6">
                                <span>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </span>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="social-icons">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <script src="~/Theme/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/Theme/assets/js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="~/Theme/assets/js/vendor/wow.min.js"></script>
    <script src="~/Theme/assets/js/vendor/owl-carousel.min.js"></script>
    <script src="~/Theme/assets/js/vendor/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Theme/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="~/Theme/assets/js/vendor/superfish.min.js"></script>
    <script src="~/Theme/assets/js/check.js"></script>
</body>
</html>
