@model E_Medicine_Store.Models.Salary

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Salary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Scale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SalaryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
